@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learning about building Web apps with ASP.NET Core for the .NET Frameworks lesson graduate Programming course in Erasmushogeschool Brussels .</p>
</div>
